label {
	margin-bottom: 8px;
	display: flex;
	flex-direction: column;
}

#addressForm {
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 8px;
	width: -moz-fit-content;
	width: fit-content;
	align-items: center;
	margin-bottom: 16px;
}

.inputWrapper {
	display: flex;
	flex-direction: column;
}

.submit {
	width: 120px;
}
