.levelSection {
	width: 100%;
	margin-top: 16px;
}

.dividerMargin {
	margin-left: 8px;
}

.sectionHeader {
	display: flex;
	align-items: center;
}

.sectionTitleWrapper {
	flex-grow: 1;
	flex-shrink: 0;
	text-transform: capitalize;
}

.officialsWrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}