.officeWrapper {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	margin-right: 16px;
}

.officeRepsWrapper {
	display: flex;
}

.repWrapper {
	display: flex;
	flex-direction: column;
	margin: 8px 16px 8px 0;
}

.repWrapper:last-child {
	margin-right: 0;
}

.repWrapper:last-child {
	margin-bottom: 0;
}

.iconRow {
	display: flex;
	align-items: center;
}

.iconWrapper {
	height: 24px;
	width: 24px;
	margin-right: 8px;
}
