html, body {
	padding: 0;
	margin: 0;
	font-family: 'Jost', sans-serif;
}

div {
	box-sizing: border-box;
}

h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

h1 {
	font-size:60px;
}

.bodyWrapper {
	margin: 16px;
}

.sectionPadding {
	margin-top: 16px;
}
